*.aux
cabal-dev
.cabal-sandbox
cabal.config
cabal.sandbox.config
*.chi
*.chs.h
dist*
.DS_Store
*.dyn_hi
*.dyn_o
*.hi
*.hp
.hpc
.ghci
.hsenv*
*.o
*.prof
*.sqlite3
*.swp
.virtualenv
.stack-work/
tmp/
**/*.dump-hi
tags
TAGS
colonnade/ex1.hs
colonnade/result

reflex-dom-colonnade/result
